*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  margin-top: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.tasks{
  border: 3px solid black;
  padding: 5px;
  border-radius: 5px;
}
.task {
  border: 3px solid black;
  padding: 5px;
  border-radius: 5px;
}

.task>.check-box {
  float: right;
}

.task>* {
  margin-bottom: 5px;
  
}

#list-sidebar {

  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
}

#new-task-form>* {
  display: block;
}
#list-sidebar>div>button {
  width: 99%;
  
}
.current-list>button {
  color: brown;
  border: 5px solid brown;
  border-radius: 2px;
}
.over-due-date {
  color: red;
}
.task-complete{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.61);
}